/* 
The main SCSS file for everything, yep
*/
.hll {
  background-color: #ffffcc; }

.c {
  color: #999; }

.err {
  color: #AA0000;
  background-color: #FFAAAA; }

.k {
  color: #006699; }

.o {
  color: #555555; }

.cm {
  color: #0099FF;
  font-style: italic; }

.cp {
  color: #009999; }

.c1 {
  color: #999; }

.cs {
  color: #999; }

.gd {
  background-color: #FFCCCC;
  border: 1px solid #CC0000; }

.ge {
  font-style: italic; }

.gr {
  color: #FF0000; }

.gh {
  color: #003300; }

.gi {
  background-color: #CCFFCC;
  border: 1px solid #00CC00; }

.go {
  color: #AAAAAA; }

.gp {
  color: #000099; }

.gu {
  color: #003300; }

.gt {
  color: #99CC66; }

.kc {
  color: #006699; }

.kd {
  color: #006699; }

.kn {
  color: #006699; }

.kp {
  color: #006699; }

.kr {
  color: #006699; }

.kt {
  color: #007788; }

.m {
  color: #FF6600; }

.s {
  color: #d44950; }

.na {
  color: #4f9fcf; }

.nb {
  color: #336666; }

.nc {
  color: #00AA88; }

.no {
  color: #336600; }

.nd {
  color: #9999FF; }

.ni {
  color: #999999; }

.ne {
  color: #CC0000; }

.nf {
  color: #CC00FF; }

.nl {
  color: #9999FF; }

.nn {
  color: #00CCFF; }

.nt {
  color: #2f6f9f; }

.nv {
  color: #003333; }

.ow {
  color: #000000; }

.w {
  color: #bbbbbb; }

.mf {
  color: #FF6600; }

.mh {
  color: #FF6600; }

.mi {
  color: #FF6600; }

.mo {
  color: #FF6600; }

.sb {
  color: #CC3300; }

.sc {
  color: #CC3300; }

.sd {
  color: #CC3300;
  font-style: italic; }

.s2 {
  color: #CC3300; }

.se {
  color: #CC3300; }

.sh {
  color: #CC3300; }

.si {
  color: #AA0000; }

.sx {
  color: #CC3300; }

.sr {
  color: #33AAAA; }

.s1 {
  color: #CC3300; }

.ss {
  color: #FFCC33; }

.bp {
  color: #336666; }

.vc {
  color: #003333; }

.vg {
  color: #003333; }

.vi {
  color: #003333; }

.il {
  color: #FF6600; }

.css .o, .css .o + .nt, .css .nt + .nt {
  color: #999; }

* {
  box-shadow: none; }

body {
  padding-top: 180px;
  font-family: "RobotoDraft","Roboto",sans-serif;
  color: #666;
  background: #fcfffe;
  background: #fff url('/assets/images/furley_bg.png') 0 0 repeat; }

#push_sidebar {
  background: #000;
  bottom: 0;
  color: #212121;
  z-index: 100;
  left: 100%;
  overflow: auto;
  position: fixed;
  top: 0;
  padding-top: 30px;
  width: 25%;
  -webkit-transition: all .5s ease;
          transition: all .5s ease; }
  #push_sidebar ul {
    padding: 0; }
    #push_sidebar ul li a {
      padding: 10px 15px 10px 20px;
      display: block;
      background: #000;
      color: rgba(255, 255, 255, 0.8);
      text-decoration: none;
      text-align: center; }
      #push_sidebar ul li a:hover {
        background-color: #2B2A2A;
        color: #fff; }
      #push_sidebar ul li a .fa {
        font-size: 19px;
        float: right;
        width: 30px;
        text-align: center;
        margin-left: 5px; }
  #push_sidebar .social-icons {
    width: 100%;
    min-height: 100px;
    padding: 20px 10px;
    text-align: center; }
    #push_sidebar .social-icons .img-circle {
      width: 100%;
      height: 100%;
      padding: 10%; }
    #push_sidebar .social-icons a {
      color: #2B2A2A; }
    #push_sidebar .social-icons .fa-circle:hover {
      color: #2B2A2A;
      cursor: pointer;
      font-size: 1.5em; }
    #push_sidebar .social-icons .fa-inverse:hover {
      cursor: pointer;
      color: #fff;
      font-size: 1.5em; }

#main-wrap {
  width: 100%;
  -webkit-transition: all .5s ease;
          transition: all .5s ease; }
  #main-wrap header {
    z-index: 2;
    height: 180px;
    padding: 10px 15px;
    position: fixed;
    top: 0;
    -webkit-transition: all .5s ease;
            transition: all .5s ease;
    width: 100%;
    overflow: hidden; }
    #main-wrap header .nav_trigger {
      cursor: pointer;
      display: inline-block;
      font-size: 26px;
      margin: 5px 0 0 50px;
      float: right; }
      #main-wrap header .nav_trigger .nav_trigger {
        margin-right: 5px; }

.show_sidebar #wrapper, .show_sidebar #main-wrap {
  margin-right: 25%;
  width: 75%; }
.show_sidebar #push_sidebar {
  left: 75%; }

.nav-up {
  top: -180px; }

@media (max-width: 767px) {
  .nav_trigger {
    font-size: 19px;
    margin: 5px 5px 0 20px; }
  #push_sidebar {
    width: 80%; }
  .show_sidebar #push_sidebar {
    left: 20%; }
  .show_sidebar #wrapper {
    margin-right: 80%;
    width: 20%; } }

@media (min-width: 992px) {
  #push_sidebar {
    width: 20%; }
  .show_sidebar #push_sidebar {
    left: 80%; }
  .show_sidebar #wrapper {
    margin-right: 20%;
    width: 80%; } }

.jumbotron {
  min-height: 800px;
  margin-top: -180px;
  padding-top: 20%;
  width: 120%;
  padding-right: 10%;
  background: url('/assets/images/bg1.jpeg') no-repeat center center fixed;
  background-size: cover; }

main {
  min-height: 1000px;
  -webkit-transition: all .5s ease;
          transition: all .5s ease; }
  main .main-wrap {
    max-width: 750px;
    margin: 0 auto;
    background: #FFFFFF;
    padding: 30px; }

.posts .post {
  padding-bottom: 50px; }
  .posts .post .feature-thumb {
    width: 100%;
    max-height: 300px;
    overflow: hidden; }
    .posts .post .feature-thumb img {
      width: 100%;
      height: auto; }

.post p a {
  display: block;
  text-align: center; }
  .post p a img {
    max-width: 100%;
    height: auto; }
.post img {
  max-width: 100%;
  height: auto; }

footer {
  background: #ddd;
  padding: 20px; }

/** { color: transparent}*/